body {
	background-image: url(../images/background.jpg)
}

#links{
	padding-top: 10px;
	text-align: center;
}

#links #saveAll {
	padding: 5px;
	font-size: 1em;
}

#links #clearAll {
	padding: 5px;
	font-size: 1em;
}

#links #doClearAll #clearAll {
	padding: 5px;
	font-size: 1em;
}

.row {
	margin: 0 auto;
}

.panel{
	margin-top: 20%;
}

.listItem {
	border: none;
	width: 90%
}

.simpleList:hover {
	background-color: #ccc;
}

.simplePanelHead {
	background-color: #000 !important; 
	border-color: #7A7A7A !important;
	color: #fff !important;
}

.simplePanel {
	border-color: #7A7A7A !important;
}

.advancedList:hover {
	background-color: #ccc;
}



.advancedPanelHead {
	background-color: #000 !important; 
	border-color: #7A7A7A !important;
	color: #fff !important;
}

.advancedPanel {
	border-color: #7A7A7A !important;
}

.advancedInput {
	margin-bottom: 20px;
}